<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Ajax</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="row">
        <div class="col-md-4">
            <h5>Form</h5>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="button" class="btn btn-sm btn-success" value="Save" id="btnsave">
            </form>
        </div>
        <div class="col-md-6">
            <h5>Table Lists</h5>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                    {% for s in stu %}
                  <tr>
                    <th scope="row">{{s.id}}</th>
                    <td>{{s.name}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.phone}}</td>
                    <td>
                        <input type="button" value="edit" class="btn btn-warning btn-edit">
                        <input type="button" value="delete" class="btn btn-danger btn-delete">
                        
                    </td>
                  </tr>
                  {% endfor %}
                  <tr id="trow"></tr>
                  
                </tbody>
              </table>
              <p id="testp"></p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    //SaveData
    $('#btnsave').click(function(){
        // console.log('SaveBtn Click');
        let n = $('#id_name').val();
        let e = $('#id_email').val();
        let p = $('#id_phone').val();
        if(n==""){
            console.log('Enter Name');
        }else if(e == ""){
            console.log('Enter Email');
        }else if(p ==""){
            console.log('Enter Phone');
        }else{
            // console.log(n+e+p);
            mydata = {name:n, email:e, phone:p};
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data:mydata,
                success: function(data){
                    // console.log(data.status)
                    x=data.stu_data;
                    if(data.status == 'success'){
                        console.log('Success')
                        for(i=0; i<x.length; i++){
                            output = []
                            output+="<td>"+x[i].id+"</td><td>"+x[i].name+"</td><td>"+x[i].email+"</td><td>"+x[i].phone+"</td><td><input type='button' value='edit' class='btn btn-warning btn-edit' data-sid="+"'"+x[i].id+"'"+">"+"</td>"
                            
                        }
                        $('#trow').html(output);
                        $('form')[0].reset();

                        
                    }
                    if(data.status == 'error'){
                        console.log('Unable to Save')
                    }
                },
            });
        }
    })
</script>

</body>
</html>